.container {
    display: flex;

    &--buttons {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}

.edit-wrapper {
    display: flex;
    gap: 12px;

    img {
        cursor: pointer;
    }
}