@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    overflow: hidden;
}

.root {
    min-height: 90vh;
    max-width: 90vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    min-height: 90vh;
    border-radius: 36px;
    margin: 2.5%;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        &--item {
            cursor: pointer;
            font-size: 24px;
            font-weight: 600;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                cursor: pointer;
                padding: 12px;
                border-radius: 12px;
                background: white;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}